﻿@model QuarterlySales.Models.ViewModels.TopQuarterViewModel

<div class="img-thumbnail card shadow">
    <h3 class="badge-info rounded text-white text-center">Top Quarters By Employee</h3>
    <div class="card-body bg-light">
        <ul class="card-text">
            @for (int i = 0; i < Model.NumberOfEmployeesToDisplay; i++)
            {
            <p>@(i+1): @Model.Sales[i].Year Q@(Model.Sales[i].Quarter.Value): <b>@Model.Sales[i].Amount.Value.ToString("C2")</b> <br/> <span class="badge-info rounded text-white text-center">@Model.Sales[i].Employee.Fullname</span></p>
            }
        </ul>
    </div>
</div>