﻿@model LoginViewModel
@{
    ViewBag.Title = "Login";
}

<h1>Login</h1>

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<form method="post" asp-action="LogIn"
      asp-route-returnUrl="@Model.ReturnUrl">
    <div class="form-group row">
        <div class="col-sm-2"><label>Username:</label></div>
        <div class="col-sm-4">
            <input asp-for="Username" class="form-control" />
        </div>
        <div class="col">
            <span asp-validation-for="Username"
                  class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2"><label>Password:</label></div>
        <div class="col-sm-4">
            <input type="password" asp-for="Password"
                   class="form-control" />
        </div>
        <div class="col">
            <span asp-validation-for="Password"
                  class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="offset-sm-2 col-sm-4">
            <input type="checkbox" title="Remember Me"
                   asp-for="RememberMe" class="form-check" />
            <label>Remember Me</label>
        </div>
    </div>
    <div class="row">
        <div class="offset-2 col-sm-4">
            <button type="submit" class="btn btn-primary">
                Log In
            </button>
        </div>
    </div>
    <div class="row">
        <div class="offset-2 col-sm-4">
            Not registered?
            <a asp-action="Register">Register as a new user</a>
        </div>
    </div>
</form>


